---
layout: default
title: downey.io - blog
type: blog
---

<div class="post-list">
  <h1>fresh</h1>
  <ul class="posts">
    {% for post in paginator.posts %}
      {% if post.color %}
        <li class="post-excerpt-{{ post.color }}">
      {% else %}
        <li class="post-excerpt">
      {% endif %}
          <div class="post-badge">
            <span class="icon-wrapper">
              <span class="fa {{ post.icon }} fa-fw fa-2x"></span>
            </span>
          </div>
          <div class="post-excerpt-content">
            <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
            <p>
              {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
              <a class="read-more" href="{{ post.url }}">
                <span class="read-more">Read More</span>
              </a>
            </p>
            <span class="post-detail">
              {{ post.date | date: '%B %d, %Y' }}
            </span>
          </div>
        </li>
    {% endfor %}
  </ul>

  <div class="pagination">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a href="/blog/" class="previous">
          <span class="fa fa-long-arrow-left fa-2x"></span>
        </a>
      {% else %}
        <a href="/blog/page{{ paginator.previous_page }}" class="previous">
          <span class="fa fa-long-arrow-left fa-2x"></span>
        </a>
      {% endif %}
    {% endif %}
    {% if paginator.next_page %}
      <a href="/blog/page{{ paginator.next_page }}" class="next">
        <span class="fa fa-long-arrow-right fa-2x"></span>
      </a>
    {% endif %}
  </div>
</div>
