$dark-background-image: "../../images/subtle_patterns/indigo_wall.png";

html, body, .main-content {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: $base-body-color;
  background-position: initial initial;
  background-repeat: initial initial;
  background-image: url($dark-background-image);

  .main-content {
    height: auto;
    min-height: 100%;
    padding-bottom: 3em;
  }
}

header {
  @include clearfix();

  padding: golden-ratio(10px, 1) golden-ratio(10px, 1);
  text-align: center;
  display: block;

  @include media($medium-screen-up) {
    h1 {
      float: left;
    }

    nav {
      float: right;
    }
  }
}

.signature {
  @include transition(fill 0.25s linear);

  max-width: 200px;
  max-height: 105px;
  fill: $nav-base-color;

  &:hover {
    @include transition(fill 0.25s linear);
    fill: $nav-accent-color;
  }
}

.header-wrapper {
  @include outer-container;
}

main {
  @include outer-container;
  @include clearfix;

  padding-top: $base-line-height;
  margin-bottom: $base-line-height * 2;
  background-color: $off-white;

  @include media($max-width) {
    border-radius: $base-border-radius;
  }
}

nav {
  a {
    display: inline;
    margin-right: 1em;
    font-family: $nav-font-family;
    color: $nav-base-color;

    &:hover {
      @include transition(color 0.25s linear);
      color: $nav-accent-color;
    }

    &:active, &:focus {
      outline: none;
      color: $nav-accent-color;
    }
  }
}

footer {
  @include outer-container;
  @include clearfix();

  height: 3em;
  margin-top: -3em;
  text-align: center;

  a {
    color: $nav-base-color;

    &:hover {
      @include transition(color 0.25s linear);
      color: $nav-accent-color;
    }

    &:active, &:focus {
      outline: none;
      color: $nav-accent-color;
    }
  }

  .footer-social {
    li {
      display: inline-block;
      padding: 0 .25em 0;
    }

    @include media($medium-screen-up) {
      float: right;
    }
  }
}

.error-page {
  .fa {
    color: $indigo;
  }
}



