$dark-background-image: "../../images/subtle_patterns/indigo_wall.png";
$light-background-image: "../../images/subtle_patterns/cream_dust.png";

html, body, .main-content {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: $base-body-color;
  background-position: initial initial;
  background-repeat: initial initial;
  background-image: url($light-background-image);

  .main-content {
    height: auto;
    min-height: 100%;
    padding-bottom: 3em;
  }
}

body.home {
  background-color: $home-body-color;
  background-image: url($dark-background-image);
}

header {
  @include clearfix();

  padding: golden-ratio(10px, 1) golden-ratio(10px, 1);
  text-align: center;
  display: block;

  @include media($medium-screen-up) {
    h1 {
      float: left;
    }

    nav {
      float: right;
    }
  }

  .signature {
    @include transition(fill 0.25s linear);

    max-width: 200px;
    max-height: 105px;
    fill: $nav-alt-color;

    &:hover {
      @include transition(fill 0.25s linear);
      fill: $nav-alt-accent-color;
    }
  }
}

.header-wrapper {
  @include outer-container;
}

.home main {
  @include outer-container;

  padding-top: 3em;
  text-align: center;
  width: 90%;
  margin: auto;

  & > * {
    display: inline-block;
  }

  .signature {
    @include transition(fill 0.5s linear);

    width: 100%;
    max-width: 400px;
    max-height: 210px;
    fill: $home-base-color;

    &:hover {
      @include transition(fill 0.5s linear);
      fill: $nav-accent-color;
    }

    @include media($medium-screen-up) {
      width: auto;
    }
  }

  section {
    width: 80%;
    padding-top: 2em;
    text-align: center;
    color: $home-base-color;

    h2 {
      font-size: $base-font-size * 2;
      line-height: 1.25em;
      font-weight: 400;
    }

    h3 {
      font-size: $base-font-size * 1.5;
      padding-top: 1em;
      line-height: 1em;
      font-weight: 200;

      strong {
        font-weight: 400;
      }
    }

    a {
      @include transition(color 0.25s linear);
      font-weight: 400;

      &.programming {
        color: lighten($home-programming-color, 30);

        &:hover, &:active, &:focus {
          color: $home-programming-color;
        }
      }

      &.plants {
        color: lighten($home-plant-color, 30);

        &:hover, &:active, &:focus {
          color: $home-plant-color;
        }
      }

      &.photography {
        color: lighten($home-photo-color, 30);

        &:hover, &:active, &:focus {
          color: $home-photo-color;
        }
      }

      &:hover, &:active, &:focus {
        @include transition(color 0.25s linear);
      }
    }
  }

  nav {
    padding-top: 2em;
    width: 100%;

    li {
      display: inline;

      span.fa {
        padding: .25em .5em;
      }

      a {
        color: $nav-base-color;

        &:hover {
          @include transition(color 0.25s linear);
          color: $nav-accent-color;
        }
      }
    }
  }

  @include media($medium-screen-up) {
    h1 {
      margin-right: 1em;
    }

    section {
      padding-top: 4em;

      h2 {
        font-size: $base-font-size * 2;
      }

      h3 {
        font-size: $base-font-size * 1.75;
      }
    }

    nav {
      padding-top: 4em;

      li {
        span.fa {
          padding: .25em 1em;
        }
      }
    }
  }
}

.blog {
  @include outer-container;
  @include clearfix;

  padding-top: $base-line-height;
  margin-bottom: $base-line-height * 2;
  background-color: $off-white;

  @include media($max-width) {
    border-radius: $base-border-radius;
  }
}

nav {
  a {
    display: inline;
    margin-right: 1em;
    font-family: $nav-font-family;
    color: $nav-alt-color;

    &:hover {
      @include transition(color 0.25s linear);
      color: $nav-alt-accent-color;
    }

    &:active, &:focus {
      outline: none;
      color: $nav-alt-accent-color;
    }

    &.active {
      font-weight: 700;
    }
  }
}

footer {
  @include outer-container;
  @include clearfix();

  height: 3em;
  margin-top: -3em;
  text-align: center;

  a {
    color: $nav-alt-color;

    &:hover {
      @include transition(color 0.25s linear);
      color: $nav-alt-accent-color;
    }

    &:active, &:focus {
      outline: none;
      color: $nav-alt-accent-color;
    }
  }

  .footer-social {
    li {
      display: inline-block;
      padding: 0 .25em 0;
    }

    @include media($medium-screen-up) {
      float: right;
    }
  }
}

.error-page {
  .fa {
    color: $indigo;
  }
}



