.notes-list {
  width: 90%;
  margin: auto;

  @include media($large-screen) {
    width: 70%;
  }

  & > .notes {
    display: grid;
    grid-column-gap: .5em;
    grid-row-gap: .5em;
    grid-template-columns: 1fr min-content;

    & > * {
      text-align: left;
    }
  }

  > .notes-header {
    width: 100%;
    padding-top: golden-ratio(1em, -1);
    margin-bottom: $base-line-height;

    p {
      @extend .subdued;
    }
  }

  .note-title {
    overflow: ellipsis;
  }

  .note-date {
    white-space: nowrap;
    @extend .subdued;
  }
}
