article {
  @include clearfix;
  text-align: center;
  width: 90%;
  margin: auto;

  .categories {
    float: right;
    font-size: .7em;
    font-weight: 700;
    text-transform: lowercase;
  }

  .title {
    h1, h2, p {
      text-align: center;
    }

    h1 {
      margin-bottom: .5em;
    }

    h2 {
      margin-bottom: 1em;
    }

    p {
      margin-top: .5em;
      margin-bottom: .5em;
    }

    margin-bottom: golden-ratio(1em, 1);
  }

  .author {
    text-align: right;
    text-transform: lowercase;

    a {
      color: $dark-gray;

      &:hover {
        @include transition(color 0.5s linear);
        color: darken($dark-gray, 30);
      }
    }
  }

  .post-content {
    img {
      margin-bottom: 1em;
    }

    ol {
      @extend %default-ol;
    }
  }

  .post-script {
    color: $medium-gray;
    font-style: italic;
  }

  .footnote {
    float: right;
  }

  .post-badge {
    margin: 1em 0 1em;

    > span {
      font-size: 3em;

      .fa {
        color: $dark-gray;
      }

      @include media($medium-screen-up) {
        font-size: 1em;
        width: 4em;
        height: auto;
        padding: .7em;
        display: block;
        max-width: none;
      }
    }
  }

  .post-badge-indigo {
    @extend .post-badge;

    > span .fa {
      color: $indigo;
    }
  }

  .post-badge-violet {
    @extend .post-badge;

    > span .fa {
      color: $violet;
    }
  }

  .post-badge-red-violet {
    @extend .post-badge;

    > span .fa {
      color: $red-violet;
    }
  }

  .post-badge-red {
    @extend .post-badge;

    > span .fa {
      color: $red;
    }
  }

  .post-badge-subaru-orange {
    @extend .post-badge;

    > span .fa {
      color: $subaru-orange;
    }
  }

  .post-badge-teal {
    @extend .post-badge;

    > span .fa {
      color: $teal;
    }
  }

  .post-badge-green {
    @extend .post-badge;

    > span .fa {
      color: $green;
    }
  }

  .post-badge-green-9009 {
    @extend .post-badge;

    > span .fa {
      color: $green-9009;
    }
  }

  .post-badge-red-9009 {
    @extend .post-badge;

    > span .fa {
      color: $red-9009;
    }
  }

  h1 {
    text-align: left;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 1em;

    @include media($medium-screen) {
      font-size: 2.6em;
    }
  }

  h2 {
    text-align: left;
    font-size: 1.4em;
    margin: 1em 0 1em 0;

    @include media($medium-screen) {
      font-size: 1.8em;
    }
  }

  h3 {
    text-align: left;
    font-size: 1.2em;

    @include media($medium-screen) {
      font-size: 1.4em;
    }
  }

  .date {
    color: transparentize($base-font-color, .4);
    font-style: italic;
    font-size: 1em;
    width: 100%;
  }

  .highlight {
    margin-bottom: 1em;
  }

  p, pre, code, ul, ol {
    margin-bottom: 1em;
    text-align: left;
  }

  p {
    line-height: 1.6em;
  }

  pre {
    font-size: .9em;
  }

  hr {
    width: 7em;
  }
}

.pagination {
  padding: golden-ratio(1em, -1);
  margin-bottom: $content-bottom-margin;

  a {
    @extend .subdued;
  }

  .previous {
    float: left;

    .pagination-button {
      margin-right: .25em;
    }
  }

  .next {
    float: right;

    .pagination-button {
      margin-left: .25em;
    }
  }

  .pagination-button, .pagination-label {
    vertical-align: middle;
  }

  .pagination-label {
    font-size: smaller;
  }
}
