@mixin post-excerpt-color($color) {
  .post-badge {
    > span .fa {
      @include transition(color 0.5s linear);
      color: $color;
    }
  }

  .post-excerpt-content > p {
    @include transition(color 0.5s linear);
  }
}

.post-list {
  text-align: center;
  width: 90%;
  margin: auto;

  @include media($large-screen) {
    width: 70%;
  }

  & > .posts {
    display: inline-block;
    & > * {
      text-align: left;
    }
  }

  > h1 {
    width: 100%;
    padding-top: golden-ratio(1em, -1);
    margin-bottom: $base-line-height;
  }

  .pagination {
    padding: golden-ratio(1em, -1);
    margin-bottom: $content-bottom-margin;

    a {
      @extend .subdued;
    }

    .previous {
      float: left;
    }

    .next {
      float: right;
    }
  }
}

.post-excerpt {
  $post-gutter: 1.4em;
  $post-image-padding: .7em;
  $post-image-width: 3em;
  $post-color: $base-font-color;
  $post-detail-color: transparentize($post-color, .5);

  @include post-excerpt-color($base-font-color);

  display: table;
  width: 100%;
  margin-bottom: $base-line-height;
  padding-bottom: 1em;
  border-bottom: 1px solid transparentize($post-color, .9);

  .post-badge {
    display: table-cell;
    vertical-align: middle;
  }

  .post-badge {
    > span {
      margin-right: 1em;
      padding: 0;
      width: 1.25em;
    }

    @include media($medium-screen-up) {
      vertical-align: top;

      > span {
        margin-right: $post-gutter;
        width: $post-image-width;
        height: auto;
        padding: $post-image-padding;
        display: block;
        max-width: none;
      }
    }
  }

  .post-excerpt-content {
    width: 100%;

    h1 {
      font-size: $base-font-size;
      display: inline;
      margin: 0 .3em 0;
    }

    .post-detail {
      font-style: italic;
      font-size: .9em;
      color: $post-detail-color;
    }

    p {
      display: none;
      margin-bottom: .5em;
    }

    @include media($medium-screen-up) {

      h1 {
        display: block;
        margin: 0 0 .5em;
      }

      p {
        display: inherit;
      }
    }
  }

  &:last-child {
    border-bottom: none;
  }
}

.post-excerpt-indigo {
  @extend .post-excerpt;
  $post-background: $indigo;
  @include post-excerpt-color($post-background);
}

.post-excerpt-violet {
  @extend .post-excerpt;
  $post-background: $violet;
  @include post-excerpt-color($post-background);
}

.post-excerpt-red-violet {
  @extend .post-excerpt;
  $post-background: $red-violet;
  @include post-excerpt-color($post-background);
}

.post-excerpt-red {
  @extend .post-excerpt;
  $post-background: $red;
  @include post-excerpt-color($post-background);
}

.post-excerpt-subaru-orange {
  @extend .post-excerpt;
  $post-background: $subaru-orange;
  @include post-excerpt-color($post-background);
}

.post-excerpt-teal {
  @extend .post-excerpt;
  $post-background: $teal;
  @include post-excerpt-color($post-background);
}

.post-excerpt-green {
  @extend .post-excerpt;
  $post-background: $green;
  @include post-excerpt-color($post-background);
}

.post-excerpt-green-9009 {
  @extend .post-excerpt;
  $post-background: $green-9009;
  @include post-excerpt-color($post-background);
}

.post-excerpt-red-9009 {
  @extend .post-excerpt;
  $post-background: $red-9009;
  @include post-excerpt-color($post-background);
}

