---
layout: default
title: photos
---

<div class="image-list">
  <ul>
    {% for post in paginator.posts %}
      <li class="image-post">
        <a href="{{ post.url }}">
          <img 
            src="{{ post.image_med_lq }}"
            data-src="{{ post.image_med }}"
            alt="{{ post.alt }}"
            class="lazyload"
          />
          <h2>{{ post.title }}</h2>
        </a>
      </li>
    {% endfor %}
  </ul>
  <div class="pagination">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a href="/" class="previous">
          <span aria-label="Previous page" class="fa fa-long-arrow-left fa-2x"></span>
        </a>
      {% else %}
        <a href="/page{{ paginator.previous_page }}" class="previous">
          <span aria-label="Previous page" class="fa fa-long-arrow-left fa-2x"></span>
        </a>
      {% endif %}
    {% endif %}
    {% if paginator.next_page %}
      <a href="/page{{ paginator.next_page }}" class="next">
        <span aria-label="Next page" class="fa fa-long-arrow-right fa-2x"></span>
      </a>
    {% endif %}
  </div>
</div>


