<ul class="footer-notices">
  <li>
      <a href="https://downey.io/privacy.html">
        <span>privacy policy</span>
      </a>
  </li>
</ul>

<ul class="footer-social">
  <li>
      <a href="https://github.com/tcdowney">
        <span aria-label="Github" class="fa fa-github fa-lg"></span>
      </a>
  </li>
  <li>
    <a href="https://twitter.com/tcdowney">
      <span aria-label="Twitter" class="fa fa-twitter-square fa-lg"></span>
    </a>
  </li>
  <li>
    <a href="https://downey.io/notes">
      <span aria-label="Notes" class="fa fa-book fa-lg"></span>
    </a>
  </li>
  <li>
    <a href="//{{ site.url }}/feed.xml">
      <span aria-label="RSS Feed" class="fa fa-rss fa-lg"></span>
    </a>
  </li>
</ul>
