.error-page {
  padding: golden-ratio(1em, 3);
  text-align: center;

  .fa {
    margin: golden-ratio(1em, -3);

    @include media($medium-screen-up) {
      font-size: 12em;
    }
  }
}

.error-message {
  font-size: 3em;
}
