.image-list {
  text-align: center;
  width: 90%;
  margin: auto;

  @include media($large-screen) {
    width: 70%;
    margin: auto;
  }

  > h1 {
    width: 100%;
    margin-bottom: $base-line-height;
  }

  .pagination {
    padding: golden-ratio(1em, -1);
    margin-bottom: $content-bottom-margin;

    a {
      @extend .subdued;
    }

    .previous {
      float: left;
    }

    .next {
      float: right;
    }
  }
}

.image-post {
  padding: golden-ratio(1em, -1);
  margin-bottom: golden-ratio(1em, 3);

  a {
    @extend .subdued;
  }

  img {
    border-radius: $base-border-radius;
  }

  h2 {
    font-size: 1em;
    text-align: left;
    padding-top: golden-ratio(1em, -2);
  }
}

article {
  @include clearfix;
  text-align: center;
  width: 90%;
  margin: auto;

  .title {
    text-align: left;
    width: 100%;
    padding-bottom: golden-ratio(1em, -1);

    .date {
      @extend .subdued;
    }

    @include media($large-screen-up) {
      h1 {
        display: inline;
      }

      .date {
        padding: golden-ratio(1em, -1);
      }
    }
  }

  img {
    padding: golden-ratio(1em, 1) 0 golden-ratio(1em, 1);
    border-radius: $base-border-radius;
  }
}
