<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <title>
        {%- if page.title -%}
          {{- page.title }}
            {%- if page.sub_title -%}
             : {{ page.sub_title }}
            {%- endif -%}
             | {{- site.title }}
        {%- else -%}
          {{ site.title }}
        {%- endif -%}
      </title>
      <meta name="monetization" content="$ilp.uphold.com/bzyEMBgwKY7w" />
      <meta name="viewport" content="width=device-width" />
      <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
      <meta
        name="keywords"
        content="{% if page.categories %}
                  {% for category in page.categories %}
                    {{ category }},
                  {% endfor %}
                {% else %}
                  {% for keyword in site.keywords %}
                    {{ keyword }},
                  {% endfor %}
                {% endif %}"
      />
      <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />

      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
      {% stylesheet application %}
  </head>
  {{ content }}

  {% javascript application %}
</html>
