---
layout: default
---

<article>
  <div class="post-badge-{{ page.color }}">
    <span class="icon-wrapper">
      <span class="fa {{ page.icon }} fa-fw fa-2x"></span>
    </span>
  </div>
  <div class="title">
    <h1>{{ page.title }}</h1>
    {% if page.sub_title %}
      <h2>{{ page.sub_title }}</h2>
    {% endif %}
    <span class="date">{{ page.date | date: '%B %d, %Y' }}</span>
  </div>
  <div class="post-content">
    {{ content }}
  </div>
  <div class="footnote">
    <hr>
    <p class="author">Tim Downey</p>
  </div>
</article>
<div class="pagination">
  {% if page.previous.url %}
    <a href="{{ page.previous.url }}" class="previous">
      <span aria-label="{{ page.previous.title }}" class="fa fa-long-arrow-left fa-2x"></span>
    </a>
  {% endif %}
  {% if page.next.url %}
    <a href="{{ page.next.url }}" class="next">
      <span aria-label="{{ page.next.title }}" class="fa fa-long-arrow-right fa-2x"></span>
    </a>
  {% endif %}
</div>

